@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile{
  transition: all .2s;
  cursor: pointer;
}
.profile:hover{
  background-color: rgba(255,255,255,0.21) !important;
}

.pointer{
  transition: all .2s;
  cursor: pointer;
}

.pointer:hover{
  filter:brightness(.7)
}
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #313131; /* Color of the tracker */
  border-radius: 6px; /* Round the corners of the tracker */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent; /* Background color of the scrollbar track */
}

.sendMessage{
  color: rgb(138, 144, 156);
  animation: blinking 2s infinite linear;
  
}

@keyframes blinking {
  0%{
  color: rgb(138, 144, 156);
  }
  50%{
    color: rgba(107, 114, 128, .5);
    }
    100%{
      color: rgb(138, 144, 156);
     }
}

.inputBox{
  width: 80%;
  max-width: 800px;
  left: 0;
  bottom:0;
}
.container{
  height: calc(100% - 64px);
}

@media screen and (max-width: 900px) {
  .homeScreen{
    padding: 0 4px;
  }
}